body {
  background-color: #000;
  font-family: sans-serif;
  font-size: 30px;
}

canvas {
  margin: 0 auto;
  display: block;
  width: 800px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

footer {
  padding: 5px 0;
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 18px;
  right: 250px;
}

footer > a {
  text-decoration: none;
  color: #fff;
  margin: 0 3px;
}

footer > a:hover {
  color: #ff1725;
}
